# Introduction 

This worksheet, provides a range of fill in the blank, learning prompts and other activities to engage users in their initial steps within using Python within GCP. 

This worksheet is broken down into several core sections, corresponding with those sections covered within the demonstration. Please note, as section one explore the BigQuery Studio environment, coding questions will not be provided for this section, rather only prompts to encourage your user experience with the upcoming deep dive workshop. 

Please note, there is an accompanying Solutions Sheet, to provide the answers as needed!

## Section 1: Navigating Data in BigQuery Studio 

Using the BigQuery Studio (and potentially going beyond the dataset we explored within the session), explore the metadata (variable names, previews etc) of various datasets available within the GCP environment. 

## Section 2a: Package Installation and Setup 
Run the following code, to prepare the environment and load in the relevant packages:

In [ ]:
# Install a pip package in the current Jupyter kernel
# here the package is bigframes https://pypi.org/project/bigframes/
import sys
!{sys.executable} -m pip install bigframes | grep -v 'already satisfied'

import bigframes.pandas as bpd
import matplotlib.pyplot as plt
import pandas as pd

# import warnings filter & ignore all future warnings
# this is for teaching purposes only, to avoid FutureWarnings to do with bigframe compiler implementation
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

## Section 3a: Load in Data
Load in the Fire Brigade Data from GCP.

In [ ]:
# Fill in the Blanks

# Load data from BigQuery
print("step 1-of-3 :: loading data from BigQuery")
query_or_table = "bigquery-public-data.london_fire_brigade.---" # [Insert the table name here]
bq_df = bpd.read_gbq(---, use_cache=False) # [Insert Variable Name Here]

# Double Check the column names 
list(---) # [Insert Read in GBQ Data]

## Section 3b: Using Magic Commands to Manipulate Data 

Complete the following magic command to explore the number of Outdoor Fires by Hour of Call made. This will produce a breakdown per hour of call, for the quantity of fires call outs which happened under the Outdoor Category.

In [5]:
%%bigquery hour_of_call_propertycategory
SELECT
    hour_of_call,
    COUNT(DISTINCT incident_number) as incident_number_count
FROM 
    bigquery-public-data.london_fire_brigade.fire_brigade_service_calls
WHERE 
    property_category = "Outdoor"
GROUP BY 
    hour_of_call
ORDER BY 
    hour_of_call ASC;

Query is running:   0%|          |

Downloading:   0%|          |

In [6]:
hour_of_call_propertycategory

    hour_of_call  incident_number_count
0              0                     66
1              1                     58
2              2                     36
3              3                     23
4              4                     20
5              5                     21
6              6                     26
7              7                     47
8              8                     50
9              9                     68
10            10                     72
11            11                    109
12            12                    110
13            13                    136
14            14                    167
15            15                    181
16            16                    223
17            17                    214
18            18                    248
19            19                    218
20            20                    185
21            21                    123
22            22                    120
23            23                     73

Next up, have a go at producing a breakdown per incident group, for those reported within a dwelling (property category), using your knowledge of SQL and magic commands to manipulate the data.

In [7]:
%%bigquery hour_of_call_propertycategory
SELECT
    incident_group,
    COUNT(DISTINCT incident_number) as incident_number_count
FROM 
    bigquery-public-data.london_fire_brigade.fire_brigade_service_calls
WHERE 
    property_category = "Dwelling"
GROUP BY 
    incident_group
ORDER BY 
    incident_group ASC;

Query is running:   0%|          |

Downloading:   0%|          |

In [8]:
hour_of_call_propertycategory

    incident_group  incident_number_count
0      False Alarm                   7032
1             Fire                   1856
2  Special Service                   6352